{% extends 'base.html' %}

{% block title %}gitDesk - Add Bounty to Existing Issue{% endblock %}

{% block body %}
<strong><a href="/issues" style="font-size:14px;">&lt;&lt;&nbsp;Back to Issues</a></strong>
<hr>
<h1>Add Bounty to Existing Issue</h1>

<form action="/addbounty" method="POST">

	<div class="oFormField">
	  <label class="oLabel">oDesk Team</label>
	  <select id="selectteam" name="teamname">
		{% for t in teams %}
		  <option teamref="{{t.reference}}">{{t.company_name}}&nbsp;&gt;&nbsp;{{t.name}}</option>
		{% endfor %}
	  </select>
	</div>

	<input type="hidden" name="team" id="team" value="">

<!-- class="oFormTop" -->
	<div class="oFormField">
	  <label class="oLabel">GitHub Repository</label>
	  <select id="selectrepo" name="repo">
		<option>Select Repo:</option>
		{% for r in repos %}
		  <option>{{r.name}}</option>
		{% endfor %}
	  </select>
	</div>

	<div class="oFormField">
	  <label class="oLabel">Issue</label>
	  <select id="issue" name="issue">
	  </select>
	</div>	

	<input type="hidden" name="issuenum" id="issuenum" value="">

	<div class="oFormField">
	    <label class="oLabel" for="description">Description</label>
	    <textarea id="description" name="description" value="" style="font-size:14px;"></textarea>
	</div>

	<div class="oFormField">
	    <label class="oLabel" for="skills">Language / Technology</label>
	    <input type="text" name="skills" id="skills" class="oInputText oFormLrg" value="">
	    <span class="oHint">Examples: python, javascript  // note: use the oDesk skills auto-suggest widget?</span>
	</div>

	<div class="oFormField">
	    <label class="oLabel" for="lrgCls">Bounty</label>
	    <span>$ </span><input type="text" name="price" id="lrgCls" value="" class="oInputText oInputCurrency">
	    <span class="oHint">This is the amount you are offering for the successful completion of the work described in this issue.</br>You will <strong>only</strong> pay when you accept a pull request. <a href="#">How does this work?</a></span>
	</div>

	<footer class="oFormFooter">
		<div class="oFieldValue">
			<button class="oBtn oBtnPrimary oBtnLarge" type="submit" value-"submit" >Add Bounty</button>&nbsp;
			<a class="oBtn oBtnCancel" href="addissue">Cancel</a>
		</div>
		<div class="oHint">This will post an oDesk job for this issue, and will append information describing the bounty to the issue on GitHub.</div>
	</footer>
</form>

<script>

$(function() {
	$('#selectrepo').change(function() {
		$.get('/api/getissuesbyrepo?repo='+$(this).val(), function(issues){
			// alert('blah: '+JSON.stringify(issues))
			var issues_select = $('#issue')
			var title = $('<option/>').text('Select Issue:')
			issues_select.append(title)
			_.each(issues, function(i){
				var title = $('<option/>').text(''+i.title)
				title.get(0).info = i
				issues_select.append(title)
			}) // _.each function
		}) // .get function
	}); // .change function

	$('#issue').change(function() {
		var issue = $(this).find(":selected")[0].info
		$('#description').val(issue.body)
		$('#issuenum').val(issue.number)
	}); // .change function

	function onSelectTeam() {
		var team = $('#selectteam').find(":selected").attr("teamref")
		$('#team').val(team)
	}
	$('#selectteam').change(onSelectTeam); // .change function
	onSelectTeam()

}) // overall function


</script>

<script src="https://raw.github.com/dglittle/gl519/gh-pages/index.js"></script>

{% endblock body %}