{% extends 'base.html' %}

{% block title %}gitDesk - Add Bounty to Existing Issue{% endblock %}

{% block body %}
<strong><a href="/issues" style="font-size:14px;">&lt;&lt;&nbsp;Back to Issues</a></strong>
<hr>
<h1 class="oH1">Add Bounty to Existing Issue</h1>
<p>Select any existing GitHub issue, enter the price you're willing to pay, and a job will be posted on oDesk to get it done!</p></br>

<form action="/addbounty" method="POST">

	<div class="oFormField">
	    <label class="oLabel" for="issue_url">Enter GitHub Issue URL</label>
	    <input type="text" name="issue_url" id="issue_url" class="oInputText oFormLrg" placeholder="http://www.github.com/...">
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or...</p>
	</div>

<!-- class="oFormTop" -->
	<div class="oFormField">
	  <label class="oLabel">Select GitHub Repository</label>
	  <select id="repo" name="repo" class="oFormMed valid">
		<option>Select Repo:</option>
		{% for r in repos %}
		  <option>{{r.name}}</option>
		{% endfor %}
	  </select>&nbsp;&nbsp;&nbsp;
	  <select id="selectissue" name="selectissue" class="oFormMed valid" style="display: none;"></select>
	</div>

	<input type="hidden" name="issuenum" id="issuenum" value="">
	<input type="hidden" name="api_url" id="api_url" value=""><hr>

	<div class="oFormField">
	    <label class="oLabel" for="title">Issue Title</label>
	    <input type="text" id="title" name="title" value="" class="oInputText oFormLrg"></input>
	</div>

	<div class="oFormField">
	    <label class="oLabel" for="description">Description</label>
	    <textarea id="description" name="description" value="" style="font-size:14px;"></textarea>
	</div>

	<div class="oFormField">
	    <label class="oLabel" for="skills">Language / Technology</label>
	    <input type="text" name="skills" id="skills" class="oInputText oFormLrg" value="">
	    <span class="oHint">Examples: python, javascript  // note: use the oDesk skills auto-suggest widget?</span>
	</div>

	<div class="oFormField">
	    <label class="oLabel" for="lrgCls">Bounty</label>
	    <span>$ </span><input type="text" name="price" id="lrgCls" value="" class="oInputText oInputCurrency">
	    <span class="oHint">This is the amount you are offering for the successful completion of the work described in this issue.</br>You will <strong>only</strong> pay when you accept a pull request. <a href="#">How does this work?</a></span>
	</div>

	<div class="oFormField">
	  <label class="oLabel">oDesk Team</label>
	  <select id="selectteam" name="teamname" class="oFormMed valid">
		{% for t in teams %}
		  <option teamref="{{t.reference}}">{{t.company_name}}&nbsp;&gt;&nbsp;{{t.name}}</option>
		{% endfor %}
	  </select>
	  <span class="oHint">Which team would you like to post this job in?</span>
	</div>

	<div class="oFormField">
		<label class="oLabel">Visible in Marketplace</label>
	    <label class="oOpt oOptSub oOptLbl">
	        <input type="checkbox" name="visibility" checked>(if unchecked, job will be invite-only)
	    </label>
	</div>

    <input type="hidden" name="team" id="team" value="">
    <input type="hidden" name="githubissueurl" id="githubissueurl" value="">

	<footer class="oFormFooter">
		<div class="oFieldValue">
			<button class="oBtn oBtnPrimary oBtnLarge" type="submit" value-"submit" >Add Bounty</button>&nbsp;
			<a class="oBtn oBtnCancel" href="addissue">Cancel</a>
		</div>
		<div class="oHint">This will post an oDesk job for this issue, and will append information describing the bounty to the issue on GitHub.</div>
	</footer>
</form>

<script>

$(function() {
	$('#repo').change(function() {
		$.get('/api/getissuesbyrepo?repo='+$(this).val(), function(issues){
			// alert('blah: '+JSON.stringify(issues))
			document.getElementById('selectissue').style.display = 'inline'
			var issues_select = $('#selectissue')
			var title = $('<option/>').text('Select Issue:')
			issues_select.append(title)
			_.each(issues, function(i){
				var title = $('<option/>').text(''+i.title)
				title.get(0).info = i
				issues_select.append(title)
			}) // _.each function
		}) // .get function
	}); // .change function

	$('#selectissue').change(function() {
		var issue = $(this).find(":selected")[0].info
		selectIssue(issue)
	}); // .change function

    function selectIssue(issue) {
		$('#title').val(issue.title)
		$('#githubissueurl').val(issue.html_url)
		$('#description').val(issue.body)
		$('#issuenum').val(issue.number)	
		$("#api_url").val(issue.url)
		console.log(issue)
	};

	$('#issue_url').change(function() {
		issueURL = $(this).val()

		$.get('/api/getissuebyurl?url='+issueURL, function(issue) {
			if (!issue) { console.log('undefined') }
			else {
				selectIssue(issue)
			}
		})
	});

	$('#selectteam').change(function() {
		var team = $('#selectteam').find(":selected").attr("teamref")
		$('#team').val(team)
	}); // .change function


}) // overall function

</script>

{% endblock body %}