{% extends 'issues.html' %}

{% block title %}gitDesk - Add Issue{% endblock %}

{% block issues %}
  {% parent %}
{% endblock %}

{% block body %}
</br><hr>
<h1>Add Issue</h1>
<form> <!-- class="oFormTop" -->

	<div class="oFormField">
	  <label class="oLabel">GitHub Repository</label>
	  <select id="selectrepo" style="font-size: 14px;">
		{% for r in repos %}
		  <option>{{r.name}}</option>
		{% endfor %}
	  </select>
	</div>

	<div class="oFormField">
	  <label class="oLabel">Issue</label>
	  <select id="selectissue" style="font-size: 14px;">
	    <option>Create new GitHub issue</option>
	  </select>
	</div>	

	<div class="oFormField">
	    <label class="oLabel" for="title">Title</label>
	    <input type="text" name="title" id="title" value="" class="oInputText oFormLrg">
	    <span class="oHint">Be clear! This is how developers will find your issue to work on.</span>
	</div>

	<div class="oFormField">
	    <label class="oLabel" for="description">Description</label>
	    <textarea id="description" name="description" value="" style="font-size:14px;"></textarea>
	</div>

	<div class="oFormField">
	    <label class="oLabel" for="skills">Language / Technology</label>
	    <input type="text" name="skills" id="skills" class="oInputText oFormLrg" value="">
	    <span class="oHint">Examples: python, javascript  // note: use the oDesk skills auto-suggest widget?</span>
	</div>

	<div class="oFormField">
	    <label class="oLabel" for="lrgCls">Price</label>
	    <span>$ </span><input type="text" name="price" id="lrgCls" value="" class="oInputText oInputCurrency">
	    <span class="oHint">You will only pay when you accept a pull request. <a href="#">How does this work?</a></span>
	</div>

	<footer class="oFormFooter">
		<div class="oFieldValue">
			<a class="oBtn oBtnPrimary oBtnLarge" href="1.html">Create Issue</a>&nbsp;
			<a class="oBtn oBtnSecondary oBtnLarge" href="#">Preview</a>
			<a class="oBtn oBtnCancel" href="myissues.html">Cancel</a>
		</div>
		<div class="oHint">"Create Issue" will create a GitHub issue and an oDesk job describing the bounty.</div>
	</footer>
</form>

<script>

$(function() {
	$('#selectrepo').change(function() {
		$.get('/api/getissuesbyrepo?repo='+$(this).val(), function(issues){
			// alert('blah: '+JSON.stringify(issues))
			var issues_select = $('#selectissue')
			_.each(issues, function(i){
				issues_select.append($('<option/>').text('Use Existing Issue: '+i.title))
			})
		})
		
	})
})

</script>

<script src="https://raw.github.com/dglittle/gl519/gh-pages/index.js"></script>

{% endblock body %}