{% extends 'base.html' %}

{% block title %}Welcome to gitDesk - Link Your Accounts!{% endblock %}

{% block body %}

<h1 class="oH1Huge">Welcome to gitDesk!</h1>
<article class="oMsg oMsgInfo">
gitDesk allows you to link GitHub issues to oDesk jobs, and even <strong>post an oDesk job automatically from within GitHub!</strong> First, link your oDesk and GitHub accounts:</article>
{% if !user.odeskuserid %}
<a class="oBtn oBtnPrimary oBtnLarge" href="/auth/odesk">Link your oDesk account</a>
{% else %}
<p>Welcome, {{user.odeskuserid}}! Only one more step:</p>
<a class="oBtn oBtnPrimary oBtnLarge" href="/auth/github">Link your GitHub account</a>
{% endif %}

{% endblock body %}