{% extends 'base.html' %}

{% block title %}Welcome to gitDesk - Link Your Accounts!{% endblock %}

{% block body %}

<h1 class="oH1Huge">Welcome to gitDesk!</h1>
{% if !user.odeskuserid %}
	<p>Create an issue in GitHub, name a price, and an oDesk developer will resolve it for you!</p>
	<a class="oBtn oBtnPrimary oBtnLarge" href="/auth/odesk">Get started by linking your oDesk account to gitDesk</a>
{% else if !user.githubuserid %}
	<p>Welcome, {{ user.odeskuserid }}!</p>
	<a class="oBtn oBtnPrimary oBtnLarge" href="/auth/github">Now just link your GitHub account and you'll be ready</a>
{% else %}
	<a href="/addissue">You're good to go!</a>
{% endif %}

{% endblock body %}