<html>
  <head>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="https://www.odesk.com/css/v3/default/stylesheets/compiled/globals/globals.css" rel="stylesheet">
	<script src="/js/jquery-2.0.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/gl519.js"></script>
<style>
#nav {
	position:fixed;
	height: 38px;
	background-color: #666;
	color: white;
	padding:10px;
	width: 100%;
	z-index:1000;
	}	
</style>

<title>{% block title %}{% endblock %}</title>

</head>

<body>

{% block nav %}
  <div id="nav">
	<span><a href="/issues" style="color:white;font-weight:bold;">gitDesk</a></strong>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;oDesk: {{ user.odeskuserid }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;GitHub: {{ user.githubuserid }}</span>
	<a href="/logout" class="pull-right" style="color:white;">Log out of gitDesk</a></div>
{% endblock nav %}

<div id="main" role="main" class="oPageCentered"></br></br></br></br></br>

{% block issues %}
{% endblock issues %}
{% block body %}
{% endblock body %}
</div>

</body></html>