{% extends 'templates/base.html' %}

{% block title %}gitDesk - My Issues{% endblock %}

{% block issues %}

<div class="sourceExample">
<h1>Open Issues&nbsp;&nbsp;<span style="font-size: 0.5em;font-family:sans-serif;"></span></h1>
	<ul class="oPlainList">
	    <li><a href="1.html">Make unicode chess pieces white</a></li>
	    <li><a href="2.html">wrap javascript chess AI </a><span class="label label-info" style="height:20px"><h3>1 pull request</h3></span></li></br>
	</ul>
</div>

{% endblock %}

{% block body %}{% endblock %}