{% extends 'base.html' %}

{% block title %}gitDesk{% endblock %}

{% block issues %}

<div class="sourceExample">

<h1>Open gitDesk Jobs</h1>

{% for job in jobs %}
<h1 class="oH5 oHInline">{{ job.title }}</h1><span class="oNull"><a href="{{ job.github_url }}" style="color: inherit">{{ job.github_url }}</a></span></br>
<a href="{{ job.ats_url }}">{{ job.candidates }} oDesk applicants</a>
	&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ job.odesk_url }}">view job on oDesk</a></br></br>
{% endfor %}

</div>
{% endblock %}