{% extends 'base.html' %}
{% block title %}gitDesk - Add Repo{% endblock %}

{% block body %}

<h1>Your GitHub Repos</h1>	

<div class="oModeMessage" style="font-size: 15px;">
<p>Linking a GitHub repository in gitDesk allows you to <strong>post a job automatically from within GitHub!</strong><p>
<p><strong>Here's how it works:</strong></br>
Step One: Link your repo to oDesk using the interface below</br>
Step Two: Go to GitHub and create a new issue. Include "oDesk Bounty: $X.XX" at the bottom of the issue</br>
Step Three: Wait a moment — oDesk is creating a job for you automatically! Reload the issue to see the link to the job on oDesk</p>
<strong>Here is the markdown to include in your GitHub issue:</strong>
<ul>
	<li>oDesk Bounty: $X.XX (required)&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		<span class="oSupportInfo">If this line is present, a job will be posted. All other parameters are optional</span></li>
	<li>oDesk Skills: skill1, skill2, skill3&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
		<span class="oSupportInfo">Separate each skill with a comma; only skills in the oDesk skills dictionary will be processed</span></li>
</ul>
</br>
<a href="#gh_screenshot" data-toggle="modal">Here's how it looks in GitHub</a>
</div>
<p><a href="../issues" style="font-size: 14px;"><strong>&lt;&lt;&nbsp;&nbsp;Back to Dashboard</strong></a></p>
<div style="width: 750px;">
<table class="table table-striped table-hover">
	<tr>
		<th>GitHub Repository</th>
		<th>oDesk Status</th>
	</tr>
	{% for r in repos %}
	<tr>
		<td>{% if r.is_linked %}<i class="icon-check"></i>&nbsp;{% endif %}{{r.name}}</td>
		<td>
			<div class="dropdown" style="display: inline;">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					{% if r.is_linked %}Linked to {{r.team_name}}{% else %}Not Linked{% endif%}</a>&nbsp;&nbsp;
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="width: 300px; padding: 5px;">
					{% if r.is_linked %}
						<li><small><a href="./api/unlinkrepo?repo={{r.name}}">Unlink Repo</a></small></li>
					{% else %}
						<li><small><strong>Link Repo to Team:</strong></small></li>
						{% for t in teams %}
						<li><small><a href="./api/linkrepo?repo={{r.name}}&githubuserid={{githubuserid}}&team={{t.team__reference}}">
							{{t.company__name}}&nbsp;&gt;&nbsp;{{t.team__name}}</a></small></li>
						{% endfor %}
					{% endif %}
					<li class="oNull">------------</li>
					<li><small><a href="{{r.html_url}}/issues">Go to GitHub Repo</a></small></li>
				</ul>
			</div>
		</td>
	</tr>
	{% endfor %}
</div>

<div class="modal hide fade" id="gh_screenshot" style="width: 900px; margin-left: -452px; margin-top: 100px; max-height: 800px;">
  <div class="modal-header">
    <h1>Here is how you post a job from within GitHub</h1>
  </div>
  <div class="modal-body">
	<p>First, link a repo to oDesk. Then create a new issue, add the following line (the syntax must match <strong>exactly</strong>, at least until we make it less fragile...). A job will be posted on oDesk automatically!</p>
	<img src="../img/ghscreenshot.jpeg"></br></br>
	<button class="oBtn oBtnPrimary oBtnLarge" data-dismiss="modal" style="margin-left: 400px;">Got It!</button>	
  </div>

</div>


{% endblock body%}