{% extends 'base.html' %}

{% block title %}gitDesk - Add Repo{% endblock %}

{% block body %}

<h1>Your GitHub Repos</h1>
<p>Linking a GitHub repository in gitDesk allows you to <strong>post a job automatically from within GitHub!</strong> Any time you create a new issue in a linked repo, all you have to do is add some markdown anywhere within the issue, and a job will be posted to oDesk automatically.</p>
<h3>Markdown options:</h3>
<ul>
	<li>oDesk Bounty: $X.XX (required)&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span class="oSupportInfo">(required) If this line is present, a job will be posted. All other parameters are optional</span></li>
	<li>Required Skills: skill1, skill2&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<span class="oSupportInfo">These skills will be added in the "skills" field on oDesk. Any skill not in the oDesk skills dictionary will be ignored</span></li>
</ul></br></br>
<table class="table table-striped table-hover">
	<tr>
		<th>Repo Name</th>
		<th>Status</th>
	</tr>
	{% for r in repos %}
	<tr>
		<td><a href="{{r.html_url}}">{{r.name}}</a></td>
		<td>{% if r.is_linked %}
			Linked to {{r.team_name}}&nbsp;&nbsp;<a href="./api/unlinkrepo?repo={{r.name}}" ><small>unlink</small></a>
			{% else %}
			Not Linked&nbsp;&nbsp;
			{% if teams|length > 1 %}
				<div class="dropdown" style="display: inline;">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><small>link repo</small></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="width: 300px;">
						{% for t in teams %}
							<li><small><a href="./api/linkrepo?repo={{r.name}}&githubuserid={{githubuserid}}&team={{t.reference}}" >
								{{t.company_name}}&nbsp;&gt;&nbsp;{{t.name}}</a></small></li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				{% for t in teams %}
				<a href="./api/linkrepo?repo={{r.name}}&githubuserid={{githubuserid}}&team={{t.reference}}" ><small>link repo</small></a>
				{% endfor %}
			{% endif %}
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>

</form>


{% endblock body%}


<input type="hidden" name="team" id="team" value="">
